body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* border: solid yellow; */

    min-height: 100vh;
    margin: 0;
}



/* FONTS styles */
*  {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    text-decoration: none;
    color: #a5a5a5;
}



/* font parameters */
/* top */
.hero-main-text {
    color: black;
    font-size: 48px;
    font-weight: bolder;
}
.hero-mini {
    color: #c7c7c7;
    font-size: 18px;
    
}
.hero-secondary-text {
    color: #f9faf8;
    font-size: 10px;
}
.header-logo-text {
    color: black;
    font-size: 18px;
    font-weight: bold;

}






/* TOP */
.top {
    /* border: solid blue; */
    background-color: white;
    /* display: flex; */
    
}
/* HEADER */
header {
    /* border: solid brown; */
    display: flex;
    justify-content: space-around;
    border-bottom: solid #e6e6e6 2px;    
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    /* margin-right: 100px; */
    
    /* border: solid black; */
}
.link {
    color:#a5a5a5;
    padding:8px;
    margin:4px;
}


.top-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    /* margin-left: 100px;
    margin-right: 100px; */
    /* border: solid #d9ed92; */
    flex: 1 ;
    padding: 100px;
}
.green {
    color: #afed1e;
}
/* 
.top-content {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid orange;
    background-color: white;    
    flex: 1;
} */






.top-text {
    /* border: solid pink; */
    /* flex: 1; */
}

.profile {
    border-radius: 999px;
    width: 600px;
    /* flex: 1; */
    /* border: solid brown; */
}

.linkedin {
    width: 70px;
    margin-left: 300px;
    padding: 50px;

}

/* MID-CONTENT */

.random-title {
    color: #1F2937  ;
}






/* BUTTON */

.button {
    background-color: #afed1e;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-text {
    color: white;
}

/* FOOTER */

.footer {

}



